.box{
    width: 800px;
    border-bottom: 20px solid antiquewhite;
    border-bottom-left-radius:10px;
    border-bottom-left-radius:10px;
}
.d1{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.box h2{
    color: cornflowerblue;
    background: antiquewhite;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    border-top-left-radius:10px;
    border-top-left-radius:10px;
}

.box ul{
    position: relative;
    background: #fff;
}

.box ul li{
    list-style: none;
    padding: 10px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 25px rgba(0, 0, 0,.1);
    transition: transform 0.5s;
}

.box ul:hover li{
    opacity: 0.2;
}

.box ul li:hover{
    transform: scale(1.1);
    z-index: 100;
    background: #25bcff;
    box-shadow: 0 5px 25px rgba(0,0,0,.2);
    color: #fff;
    opacity: 2;
}

.box ul li span{
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #25bcff;
    color:#fff;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 600;
    transform:traslateY(-2px):
}


.box ul li:hover span{
    background: #fff;
    color:#25bcff;


}